* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       }
   
   body {
    background: #ca5a37;
    font-size: 30px;
    padding-top: 20px;
   }
       
   .container {
    
    margin: auto;
    padding: 80px;
    padding-left: 300px;
    padding-top: 10px;
    
   }
       
   .screen-body-item {
    flex: 1;
    padding: 10px;
   }
   
   input {
    margin: 20px 0px 10px;
   }
   
   .showdata {
    color: rgb(14, 36, 43);
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
   }
   
   input {
    direction: inherit;
   }
   
   .button {
    display: inline-block;
    padding: 15px 85px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ce2812;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #1a0303;
         }
         
   .button:hover {
     background-color: #707c70
   }
         
   .button:active {
     background-color: #142b5f;
     box-shadow: 0 5px #8f3131;
     transform: translateY(4px);
   }
   
   input{
    width: 50%;
    padding:10px;
    border-radius:10px;  
   }