* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       }
   
   body {
    background: #0004ff;
    font-size: 12px;
   }
       
   .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    padding-left: 500px;
    padding-top: 150px;
   }
       
   .screen-body-item {
    flex: 1;
    padding: 50px;
   }
   
   input {
    margin: 10px 10px 10px;
   }
   
   .showdata {
    color: black;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
   }
   
   input {
    direction: inherit;
   }
   
   .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
         }
         
   .button:hover {
     background-color: #595c59
   }
         
   .button:active {
     background-color: #0051ff;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }
   
   input{
    width: 50%;
    padding:10px;
    border-radius:10px;  
   }